:root {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
* {
    font-family: 'Orbitron', 'Hind Madurai', sans-serif;
    box-sizing: border-box;
    outline: none;
}
header {
    background: rgb(41, 109, 236);
    padding: 10px 0;
    /* display: none; */
}
h1 {
    font-size: 50px;
    color: rgb(197, 224, 46);
    margin: 0;
    letter-spacing: 6px;
}
body {
    text-align: center;
    margin: 0;
    background: rgb(53, 53, 53);
}
canvas {
    background: rgb(0, 0, 0);
    margin-top: 40px;
    width: 800px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.table > div {
    display: flex;
}
.table > div > div {
    background: gray;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 5px;
}